<% collection_row_cache(sale_property) do %>
	<article class="col-xs-12 col-sm-6">
	  <div class="post-item sale-post-item"> 
		  <%= render "sale_properties/property_thumbnail", :record => sale_property %>
	  </div>
  </article> 
<% end %>