<%# collection_row_cache(sale_property) do %>
<article class="col-sm-6 col-md-4 post-item"> 
    <%= render "sale_properties/property_thumbnail", :record => sale_property %>
</article>
<% if sale_property_counter % 3 == 2 %> 
  <div class="clearfix visible-md-block visible-lg-block"></div> 
<% end %>
<% if sale_property_counter % 2 == 1 %>
  <div class="clearfix visible-sm-block"></div> 
<% end %>
<%# end %>