<%= render "search" %>
<section class="projects-section">
  <!-- Begin Projects -->
  <div class="container">
    <div id="projects-container" class="row">
      <% if collection.any? %>
        <%= render collection %>
      <div class="row">
        <div class="col-sm-12 js-pagination">
          <%= will_paginate %>
        </div> 
      </div> 
      <% else %>
        <div class="col-xs-12">
          <%= render "no_records_found" %>
        </div>
      <% end %>
    </div> 
  </div>
</section>