footer {
  background-color: $gray-dark;
  padding: ($line-height-computed*3) 0;
  color: #888;
  font-size: 12px;
  font-weight: 100;
  font-family: 'Roboto';
  line-height: 20px;
  h5 {
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #efefef;
  }
  hr {
    border-top: 3px solid #fff;
    width: 48px;
    margin-left: 0;
  }
  a {
    color: #FFF;
    @include transition(all 0.3s ease);
    &:hover {
      color: #999;
      text-decoration: none;
    }
  }

  .nav > li > a {
    padding: 0;
    color: #FFF;
    @include transition(all 0.3s ease);
    &:hover, &:focus {
      background-color: transparent;
      color: #999;
      text-decoration: none;
    }
  }
}

.copyright {
  margin-top: $line-height-computed;
  font-size: 10px;
}

.newsletter {
    background-color: #000 !important;
    color: #fff;
    h2 {
        color: #fff;
    }
    hr {
        border-color: #fff;
    }
    form {
      input, select, textarea {
      width: 100%;
      font-family: $font-family-serif;
    }
  }
}
