.navbar {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    //border-bottom: 1px solid $navbar-default-bg:;
    //background-color: #e0ded8;
    .dropdown-menu > li > a {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
        }
    }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: -40px;
  font-size: 13px;
}

//364 × 187
.navbar-brand {
    padding: 0 15px 0 0;
    max-height: $logo-height-sm;
    overflow: hidden;
    img {
        max-height: 100%;
        max-width: none;
        width: auto;
    }
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: $navbar-default-link-hover-bg;
    color: $navbar-default-link-hover-color;
}
@media (min-width: $grid-float-breakpoint) {

    .navbar {
        min-height: $logo-height-sm-min; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
        max-height: $logo-height-sm-min;
    }

    .navbar-brand {
        max-height: 135px;
        min-height: $logo-height-sm-min;
        height: 135px;
    }

    .navbar-nav > li {
        padding: (($logo-height-sm-min - 6 - $line-height-computed) / 2) 10px;
    }

    .navbar-nav > li > a {
        font-size: 15px;
        padding: 0;
        border-bottom: 3px solid $navbar-default-bg;
        @include transition(all 0.3s ease);
        
        &:hover,
        &:focus {
            border-bottom-color: $navbar-default-link-hover-color;
        }
    }
    .navbar-brand {
        margin-left: -15px;
    }
}
#locales {
  > li {
    padding: (($logo-height-sm-min - $line-height-computed) / 2) 10px;
  }

    > li > a {
      padding: 0 0 0 26px;
      border-bottom: 3px solid $navbar-default-bg;
      font-size: 13px;
      @include transition(all 0.3s ease);
      background-size: contain;
      background-position: 0 50%;
      background-repeat: no-repeat;
      
      &:before {
        content: '\00a0';
      }
      &.en {
        background-image: image-url('flags/4x3/gb.svg');
      }
      &.fr {
        background-image: image-url('flags/4x3/fr.svg');
      }
      &:hover,
      &:focus {
        border-bottom-color: $navbar-default-link-hover-color;
        background-color: transparent;
        }
    }
}
.navbar-form {
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 1; 
    margin-top: 0;
    margin-bottom: 0;
}
// #locales-menu {
//     position: absolute;
//     right: 20px;
//     top: 26px;
//     z-index: 1;
// }