/* PANELS
-------------------------------------------------- */
.panel-group {
    margin-bottom: 0;
}
.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-default:nth-of-type(odd) {
    background: #ebeae6;
    border-color: #ebeae6;
}
.panel-heading {
    padding: 0;
}

.container,
.container-fluid {
  > .panel-title {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;
  }
}


.panel-title {
    display: block;
}
.panel-title a {
    font-family: $font-family-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    color: $headings-color;
    display: block;
    padding: 24px 15px;
    &:focus,
    &:hover {
       // color: #fff;
        //text-decoration: none; 
       // background-color: $headings-color;
    }
}

.panel-title a .th-icon-close,
.panel-title a .th-icon-open {
    text-align: center;
    float: right;
    line-height: inherit; 
}

.panel-title a .th-icon-close {
    display: inline-block; 
}

.panel-title a .th-icon-open {
    display: none; 
}

.panel-title a.collapsed {
    color: #000; 
}

.panel-title a.collapsed .th-icon-open {
  display: inline-block; 
}
.panel-title a.collapsed .th-icon-close {
  display: none; 
}