<article class="page">

  <!-- Slider
  ================================================== -->
  <section class="section-slider">
    <div class="container">
      <div class='row'>
        <div class='col-sm-12'>
          <%= render "slider", :images => resource.images %>
        </div>
      </div>
    </div>
  </section>

  <!-- Header
  ================================================== -->
  <section class="property-header">
    <div class="container">
      <div class='row'>
        <div class='col-sm-8'>
          <h1><%= resource.title %></h1>
          <hr>
          <%= render_copy_text(resource.body) %>
        </div>
      </div>
    </div>
  </section>
</article>