<div class="row">
  <div class="col-xs-12"> 
    <%= render_slideshow_for(resource, :image_geometry => "x676") %>
    <%= render_page_title(resource.title) %>
    <%= render_copy_text(resource.body) %>
  </div>
</div> 