/*-----------------------------------------
 FOOTER
 ----------------------------------------- */
 #footer {
   background-color: #262626;
   color: #686868;
   font-size: $font-size-small;
   .container { 
     padding-top: $line-height-computed;
     padding-bottom: $line-height-computed;
     background-color: black;
   }
 	.row {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
  }
  a {
    color: #686868; 
  }
  .nav {
    left: auto;
    float: none;
    margin: 0;
    > li > a {
      padding: 0;
      color: #686868;
    }
  }
}


.footer-nav {
  > li > a {
    color: #686868;

    &:hover,
    &:focus {
      color: #686868;
      text-decoration: underline;
      background-color: transparent; 
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .copyright { @include pull-right(); }
}

.copyright-author {
 	background: transparent image-url('gko/logo_gecko_white.png') center left no-repeat;
 	padding-left: 28px;
} 


