$navbar-height-md: $brand-height - 12;
$navbar-padding-vertical-md: (($navbar-height-md - $line-height-computed) / 2);

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
  border: none;
  @media (min-width: $grid-float-breakpoint) {
    min-height: $navbar-height-md;
    background-color: lighten($navbar-default-bg, 10%);
    .container {
      background-color: $navbar-default-bg;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-collapse {
    padding-left: $brand-width;
    float: left;
  }
}
.navbar-header {
  position: relative;
}
.navbar-brand {
  padding: 0;
  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    left: -10px;
    top: 0;
    z-index: 10;
    padding: 0;
  }
}
.navbar-nav { 
  > li > a {
    font-size: 11px; 
    text-transform: uppercase;
    @include transition(all 0.3s ease-in-out);
  }
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    width: auto !important;
    margin-top: ($navbar-padding-vertical-md / 2);
    margin-bottom: ($navbar-padding-vertical-md / 2);
    margin-left: $line-height-computed * 2;
    > li {
      float: none;
      > a {
        text-align: left;
        padding: 2px 0;
      }
    }
  }
   
}
.navbar-subtitle {
  float: right;
  margin-top: ($navbar-padding-vertical-md / 2);
  margin-bottom: ($navbar-padding-vertical-md / 2);
  //line-height: ($navbar-height - $navbar-padding-vertical-md) / 2;
  p {
    margin: 0;
    line-height: 28px;
    font-size: 16px;
    font-style: italic;
    font-family: $font-family-serif;
    strong {
      color: #000;
    }
  }
}
