/*
*= require_self
******/

/*-------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
$bodyBackground: #050507; 
$baseFontFamily: Georgia,'Times New Roman',Times,serif;       
$altFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseFontColor: #575757;
$baseColor: #525049;
$altColor: #0796fb;//blue 
$greyMedium: grey;
$linkColor: #525049;
$linkColorHover: #0796fb; 

@import "gko/core";
@import "gko/elastislide";
@import "gko/orbit";

/* STYLE FOR EXTENSIONS
----------------------------------------------------*/
.important-tag {
	@include border-radius(6px);
	margin-bottom: 8px;
	padding: 4px;
	background: $altColor;
	color: white;
	font-family: $altFontFamily;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	strong {
		color: #4b4a48;
		font-style: normal;
		font-weight: normal;
	}
}

#address {
	font-size: 11px;
	color: white;
	position: absolute;
	top: 52px;
	width: 256px;
	text-align:center;
	color:$greyMedium;
	a {
		color: $greyMedium;
		&:hover { color:$altColor }
		&:visited { color:$greyMedium }
		&:active { color:$altColor }
	}
}

/*-----------------------------------------
   Shared Styles
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
/* Not compatible with dropdown */
@mixin menu_vertical() {
	overflow: hidden;
	clear:both;
	float: none;
	text-align: left;
	ul.menu {
		float: left;
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: visible;
		a { line-height: 4px; }
		li.first-level {
			clear: both;
			float: left;
			display: block;
			margin: 0;
			&:first-child { 
				padding-left: 0;
				background: none; }
		}
	}
}
/* Not compatible with dropdown */
@mixin menu_center() {
	overflow: hidden;
	clear:both;
	float: none;
	text-align: center;
	ul.menu {
		float: left;
		position: relative;
		left: 50%;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: visible;
		@extend .uppercase_font_style; 
		li.first-level {
			float: left;
			position: relative;
			right: 50%;
			display: block;
			margin: 0;
			padding: 0 0 0 48px;
			&:first-child { 
				padding-left: 0;
				background: none; }
		}
	}
	@media only screen and (max-width: 767px) {
		padding: 0;
		margin: 0;
		display:block;
		float:none !important;
		@include menu_vertical(); 
		ul.menu {
			width:100%;
			text-align: center; 
			left: 0;
			right:0; 
			display:block;
			li.first-level { float:none;clear:both;right:0;left:0;padding:0;}
			a { padding: 10px 20px 10px 20px;display:block;}
		}
	}
}
/*-----------------------------------------
   Structure
----------------------------------------- */
html {
background: transparent asset-url("bg.jpg", image) left top repeat;
border: 30px solid #2D2D2D;
padding: 0 2.75em;
border-image: initial;
}
body {
	
	background: none;
}
.body-container {

}	
.wrapper-wide {
 @include container; 
 //background: #F3F4EE;
}
.wrapper-content {
 @include row;
 
}
#main-content{
 @include column(12);

}
#main-content.sidebar {
 @include column(8);
}
#sidebar{ 
 @include column(4); 
}
#wrapper-wide-main {
	padding-top:36px;
}
#wrapper-wide-footer {
	padding: 60px 0 40px 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 { font-family: $altFontFamily; }
/*-----------------------------------------
   Menu
----------------------------------------- */
#primary-menu {
	margin: 0 0 0 0;
	padding: 8px 0 9px 0;
  @include menu_center(); 
	ul.menu {
		@extend .uppercase_font_style; 
		li {
			//background: transparent asset-url("nav-dot.png", image) 21px 50% no-repeat; 
			&:first-child { 
				background: none; }
		}
	}
	
	@media only screen and (max-width: 767px) {
		padding: 0;
		margin: 0;
		ul.menu {//@extend .menu_vertical;
			li {background: none;} }
	}
}
#pipe-menu {
	@include menu_center();
	ul.menu {
		@extend .uppercase_font_style;
		text-transform: capitalize;
		font-style: italic;
		letter-spacing: 0px;
	}
}

/*-----------------------------------------
   Header
----------------------------------------- */
#wrapper-wide-masterhead {
	background-color: black;
	padding:0px;
	#locales {
		float:right;
		background-color: black;
		padding:4px;
		margin: 0px;
		li {
			margin: 0px;
		}
	} 
} 

h2#site-title {
	@include logo(103px, 140px);
	float: none;
	margin: 0 auto !important;
	
}
ul.menu
 {
  .active > a {
    background-color: transparent;
  }
}
h1.page-title {
	letter-spacing: 1px;
}

/*-----------------------------------------
   Footer
----------------------------------------- */ 
#footer {
	border-top: 1px solid #1e1e1e;
	padding-top:12px;
	h3 {
		@extend .uppercase_font_style;
	}
}
.site_infos {
 @include row;    
}
	

/*-----------------------------------------
   Slideshow
----------------------------------------- */


/* RATES
----------------------------------------------------*/
.rates {
	padding-bottom: 30px;
}
.price_notes {
	font-size: .8em;
	font-style: italic;
	padding-top:14px;
}
ul.list-view-seasons {
	margin-top: 16px;
}
ul.list-view-seasons:first-child {
	margin-top: 0;
}
ul.list-view-seasons li h4 {
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	display: inline;
}
ul.list-view-seasons li span.dates {
	color: $altColor;
}
ul.list-view-seasons ul.list-view-rates li {
	border-top: 1px dashed #E0E0CF;
}
ul.list-view-seasons ul.list-view-rates li span:last-child {
	margin-left: 100px;
}
/* FORM
----------------------------------------------------*/ 

/* PAGINATION
----------------------------------------------------*/

.pagination-container {
	text-align: center;
	overflow: hidden;
	margin: 0 auto !important;
	padding:24px 0px;
	a {
 	 @include circle(38px);
		//background: $greyMedium;
		display: inline-block;
		margin-left: 14px;
		text-decoration:none;
		color: white;
		&:hover { 
			background: $altColor; 
			color: white;
		}
	}
	.current {
		display: inline-block;
		margin-left: 14px; 
		font-style: italic;
		color: #7b7a78;
	}
	                       
	.previous_page,
	.next_page {
		display:inline-block;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: 12px 12px;
		&:hover { 
			background-repeat: no-repeat;
			background-position: 12px 12px; }
	}
	.previous_page {
		background-image: url(/images/arrow_white_14_left.png); 
		&:hover { 
			background-image: url(/images/arrow_white_14_left.png); }
	}
	.next_page {
		background-image: url(/images/arrow_white_14_right.png); 
		&:hover { 
			background-image: url(/images/arrow_white_14_right.png); }
	}
} 


.features {
	padding-bottom: 80px;
}