$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
/* custom variables >>> */ 
$lightColor: #F7F6F2;
$mediumColor: #686868;
$darkColor: #262626;
/* <<< custom variables */
$textColor: #7B7A78;
$navbarBackgroundHighlight: #E0DFDB;
$navbarBackground: #E0DFDB;  
$bodyBackgroundColor: #EBEAE6;
$navbarButtonBackgroundHighlight: $darkColor; 
$navbarButtonBackground: $darkColor; 
$navbarButtonIconBarColor: $lightColor; 
$headingFontFamily: Georgia,'Times New Roman', Times, serif;
$headingTextColor: $darkColor;
$inputBackgroundColor: $lightColor;
$inputBorderColor: $bodyBackgroundColor;
$inputBorderRadius: 0;
$inputFocusBorderColor: rgba(224, 224, 219, 0.8); //$bodyBackgroundColor
@import "gko_public_all"; 
@import "gko/elastislide";
@import "zurb/foundation/orbit";  
/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-style: italic;
}
h1,h2,h3 {
	font-weight: normal;
}
h1.page-title {
	font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
	line-height: $baseLineHeight * 1.5;
  font-size: 18px;
	font-weight: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  color: $lightColor;
	font-style: italic;
	font-family: $headingFontFamily;
	font-size: $baseFontSize - 2px;
  text-shadow: 0 1px 1px rgba(0,0,0, 1);
  border: 1px solid black;
  @include border-radius(8px);
  background-image: none;
  background-color: $darkColor;
}
// Hover state
.btn:hover {
  color: white;
  background-color: black;

  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  @include transition(background-color .1s linear);
}
/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */

#content {
	background-color: $lightColor;
}
#copyright-container,
#footer-container {
	background-color: $darkColor;
	.row-fluid {
		background-color: #111111;
		color: $lightColor;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 940px;
	}
	a {
		@include link-colors($mediumColor, $lightColor, $lightColor);
	}
	 
}
#main-column .main-column-inner  {
	padding-left: 20px;
	padding-right: 20px;
	
}
#main-column { 
 padding-top: 60px; 
 background-color: #FFFFFF;
 position:relative;
	h3 {
		border-bottom: 6px solid $lightColor;
		margin-top: $baseLineHeight;
		margin-bottom: $baseLineHeight * .5;
	}
	div.realty-promo {
		background: transparent asset-url("promo_en.png", image) no-repeat scroll right top;
		position:absolute;
		top:0;
		right:0;
		width: 146px;
		height: 102px;
	} 	
}
#sidebar {
	padding-top: 40px; 
	h4 {
		border-bottom: 6px solid $bodyBackgroundColor;
		margin-bottom: $baseLineHeight * .5;
	}
}
.well.realty-promo-text {
	background-color:#BA4F45;
	color: $lightColor;
}
/*-----------------------------------------
 GRID
----------------------------------------- */
.block-grid > li { 
	margin-bottom: $baseLineHeight * .5;
	.entry-thumb {
		background-color: black;
		img {
			border-top: 6px solid black; 
		}
		
		img:hover {
			opacity: .7;
		};
	}
	.entry-infos { 
		margin-top: $baseLineHeight * .25;
		h2 {
			text-transform: uppercase;
			font-family: $baseFontFamily;
			font-size: $baseFontSize; 
			font-style: normal;
			font-weight: bold;
			line-height: $baseLineHeight;
		} 
		padding: 8px 12px;
		text-align: right;
		background-color: $lightColor; 
		.entry-links {
			display: none;
		}
		span { 
			font-size:12px;
			&.tag {
				color: $mediumColor;
				strong {
					color: $darkColor;
				}
			}
		} 
	}
	.realty-promo {
		background: transparent asset-url("promo_en.png", image) no-repeat scroll right top;
		position:absolute;
		top:0;
		right:0;
		width: 146px;
		height: 102px;
	} 
}
/*-----------------------------------------
 SLIDESHOW
----------------------------------------- */
.images-thumbnails ul li a img,
.image-large {
	border-top: 6px solid black; 
}
/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.navbar { 
	margin-bottom: 0;
	.row-fluid {
		background-color: #D9D8D4;
	}
	.header-nav {
		position:relative;
		height: 120px;
		.nav {
			@include vertical-nav; 
			margin-top: 12px;
			margin-left: 36px;
			&:first-child {
				margin-left:123px;
			}
		}
		.nav > li > a {
			font-size: 11px; 
			text-transform: uppercase;  
		}
	}
}
.navbar .brand {
	@include logo(103px, 140px);
	position:absolute;
	left: -10px;
	top: 0;
	z-index: 10;
}
h4#site-subtitle {
	position: absolute;
	right: 20px;
	bottom: 8px; 
	max-width:320px;
}
.navbar .header-top .nav {
 background-color: $darkColor;
 font-size: 10px; 
 a {
	color: $lightColor;
	text-transform: uppercase;
	letter-spacing: 1px;
 } 
}
/*-----------------------------------------
 HOME
----------------------------------------- */
#home {
	#main-column h4 {
		border-bottom: 6px solid $lightColor;
		margin-top: $baseLineHeight;
		margin-bottom: $baseLineHeight * .5;
	}
	
}
#home-orbit {
	height: 400px;
	padding-bottom: $baseLineHeight;
  border: 6px solid $lightColor;
}
#orbit {
	h3 {
		border: none;
	} 
	.infos {
		position:absolute;
		bottom: 0;
		left:0;
		right:0;
		padding: 12px;
		background: rgba(255,255,255,.7);
	}
}
/*-----------------------------------------
 CONTENT
----------------------------------------- */
ul.realty-seasons {
	//display: block;
	li {
	 //display: block;
		h4 {
			border-bottom: 2px solid $bodyBackgroundColor;
			span {
				font-size: $baseFontSize;
			}
		}
	}
}
ul.realty-rates {
	li span.realty-rates-price {
		margin-left: 20px;
	}
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer, #copyright {
	text-align: center;
}
a#site_by {
	background-image: asset-url('gko/logo_gecko_white.png', image);
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive";
@media(max-width: 980px) {
	#main-column { 
	 padding-top: 120px;
  } 
}