$font-family-alt:  'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
/* IMPORTS
-------------------------------------------------- */
@import "theme/variables";
@import "bootstrap/bootstrap";
@import "font-awesome-4.2.0/font-awesome";
@import "theme/navs";
@import "theme/navbar";
@import "theme/flexslider";
@import "theme/buttons";
@import "theme/sections";
@import "theme/property";



footer {
    background-color: $gray-dark;
    padding: ($line-height-computed*3) 0;
    color: #888;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Roboto';
    line-height: 20px;
    h5 {
        font-family: 'Roboto';
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900;
        margin-bottom: 14px;
        color: #efefef;
    }
    hr {
        border-top: 3px solid #fff;
        width: 48px;
        margin-left: 0;
    }
    a {
        color: #FFF;
        @include transition(all 0.3s ease);
        &:hover {
          color: #999;
          text-decoration: none;
        }
    }

    .nav > li > a {
      padding: 0;
      color: #FFF;
      @include transition(all 0.3s ease);
      &:hover, &:focus {
        background-color: transparent;
        color: #999;
          text-decoration: none;
      }
    }
}

.copyright {
  margin-top: $line-height-computed;
  font-size: 10px;
}
.thumbnail-property {
    position: relative;
    padding: 0;
    border: none;
    //min-height: 200px;
    background-color: #eee;
    overflow: visible;
    margin-bottom: 50px;
    .price {
        position: absolute;
        top: -33px;
        right: 0; 
        background-color: #000;
        margin: 0;
        padding: 8px;
        color: #fff;
    }
    .caption {
        position: absolute;
        bottom: -50px;
        left: 7%;
        width: 86%;
        background-color: #fff;
        padding: 16px;
        @include transition(all 0.5s ease);

        h3 {
            margin-top: 0;
            margin-bottom: 8px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            a {
                font-style: normal;
                color: $headings-color;
                font-family: $font-family-serif;
                &:hover {
                    text-decoration: none;
                    color: $headings-color;
                }
            }
        }
        p {
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
        p.body {
            display: none;
            margin-top: 8px;
        }
    }
    &:hover {
        .caption {
            top: 100px;
            p.body {
                display: block;
            }
        }
    }
}

section:nth-of-type(even) {
  .thumbnail {
    .caption {
  background-color: #ebeae6;
    }
  }
 }

.thumbnail-info,
.thumbnail-badge {
    position: absolute;
    top: 0;
    background-color: #03A9F4;
    margin: 0;
    padding: 8px;
    color: #fff;
    left: 7%;
    width: 86%;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    letter-spacing: 1px;

  background: -webkit-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* W3C */


  background: -webkit-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* W3C */
        


}
.heart {
    color: #fff;
    background-color: #F44336;
    padding: 10px;
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    border-radius: 20px;

  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
        

}
.bg {

  background: -webkit-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* W3C */
}
.categories {
    .thumbnail {
        min-height: 200px;
        text-align: center;
        h2 {

            top: 100px;
            
            a {
                color: #fff;
                font-family: 'Marck Script', cursive;
                text-transform: none;
                font-size: 32px;
                letter-spacing: -1px;
            }

            p {
                font-family: 'Marck Script', cursive;
            }
        }

        &:hover {
            .overlay-gradient {
                opacity: 1;
            }
        }
    }


}
.overlay-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.8;
  z-index: 2;
  @include transition(all 0.3s ease);
  background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* W3C */

}

.form-search {
    padding: $line-height-computed 0;
    background-color: #ebeae6;
    button,
    input {
        width: 100%;
    }
}



.background-image-holder,
.foreground-image-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  z-index: 0;
  background-position: 50% 50% !important;
}
.background-image-holder.parallax-background {
  height: 120%;
  top: -10%;
}
.hover-background .background-image-holder,
.hover-background .foreground-image-holder {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.hover-background .background-image-holder {
  height: 110%;
  width: 110%;
}
.image-slider,
.hero-slider {
  padding: 0px;
  position: relative;


}
  .nav-slide {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    border-radius: 30px 0 0 30px;
    min-width: 120px;
    position: absolute;
    top: 50%;
    
    z-index: 1;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}


.prev {
        //border-right: none;
        min-width: 60px;
        border-radius: 0 30px 30px 0;
        left: -2px;
    }
    .next {
        //border-left: none;
        min-width: 60px;
        right: -2px;
    }
.hero-slider .slides li {
  height: 650px;
  overflow: hidden;
  position: relative;
}
.hero-slider .slides li h1 {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.hero-slider .slides li p {

  text-align: center
}
.hero-slider .slides li .btn {
  margin-right: 16px;
}
.hero-slider .flex-direction-nav a {
  color: rgba(0, 0, 0, 0);
}
.flex-direction-nav a:before {
  top: 17px;
  font-size: 36px;
  left: 10px;
}
.flex-direction-nav a.flex-next:before {
  left: -10px;
}
@media all and (max-width: 1350px) {
  .flex-direction-nav {
    display: none !important;
}
}
.hero-slider .slides li.overlay:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #222222;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-slider .slides li h1 {
    font-size: 32px;
    line-height: 40px;
}
}