$font-family-alt:  'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-height-sm: 95px;
$logo-height-sm-min: 135px;

/* IMPORTS
-------------------------------------------------- */
@import "theme/variables";
@import "bootstrap/bootstrap";
@import "theme/form";
@import "theme/navs";
@import "theme/navbar";
@import "theme/panels";
@import "theme/buttons";
@import "theme/flexslider";

@import "theme/sections";
@import "theme/footer";
@import "theme/home";
@import "theme/property";



/* FIX FOR GMAP BUG
-------------------------------------------------- */
#map-canvas {
  height: 400px;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

article.post-item {
  margin-bottom: 24px;

}
.thumbnail-property {
  position: relative;
  padding: 0;
  border: none;

    //min-height: 200px;
    background-color: #eee;
    overflow: visible;
    margin-bottom: 50px;
    .price {
      position: absolute;
      top: -33px;
      right: 0; 
      background-color: #000;
      margin: 0;
      padding: 8px;
      color: #fff;
    }
    .caption {
      position: absolute;
      bottom: -50px;
      left: 7%;
      width: 86%;
      background-color: #fff;
      padding: 16px;
      @include transition(all 0.5s ease);

      h3 {
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        a {
          font-style: normal;
          color: $headings-color;
          font-family: $font-family-serif;
          &:hover {
            text-decoration: none;
            color: $headings-color;
          }
        }
      }
      p {
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 0;
      }
      p.body {
        display: none;
        margin-top: 8px;
      }
    }
    &:hover {
      .caption {
        //top: 100px;
        p.body {
          display: block;
        }
      }
    }
  }

  section:nth-of-type(even) {
    .thumbnail {
      .caption {
        background-color: #ebeae6;
      }
    }
  }

  .thumbnail-info,
  .thumbnail-badge {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 8px;
    color: #fff;
    left: 7%;
    width: 86%;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #03A9F4;
}
.thumbnail-badge {
  background-color: #FF5252 !important;
}
.heart {
  color: #fff;
  background-color: #F44336;
  padding: 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 20px;
  text-align: center;
  z-index: 1;
  border-radius: 20px;
  background-color: #E91E63;

}

.col-sm-12.last {
  margin-top: 16px;
}

/* MEMBERS
-------------------------------------------------- */
#member-slider {
  padding: 24px 0;
}
.team-member {
  text-align: center;
  h2 {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  h5 {
    font-family: $font-family-serif;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
  }
}
/* FORM
-------------------------------------------------- */

.form-control {
  font-family: $font-family-serif;
  font-size: 12px;
  //border-radius: 18px !important;
}
input, select, textarea {
//border-radius: 18px;
}
.form-search {
  padding: $line-height-computed 0;
  background-color: darken(#ebeae6, 5%);
  border-bottom: 1px solid darken(#ebeae6, 10%);
  input, select, textarea {
    width: 100%;
  }
  .btn-link {
    border: none;
    border-radius: 0;
    text-align: center;
    border-bottom: 3px solid darken(#ebeae6, 5%);
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      border-bottom-color: #000;
      background-color: transparent;
      color: #000;
    }
  }
}

.background-image-holder,
.foreground-image-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  z-index: 0;
  background-position: 50% 50% !important;
}
.background-image-holder.parallax-background {
  height: 120%;
  top: -10%;
}
.hover-background .background-image-holder,
.hover-background .foreground-image-holder {
  @include transition(all 0.3s ease-out);
}
.hover-background .background-image-holder {
  height: 110%;
  width: 110%;
}
.image-slider,
.hero-slider {
  padding: 0px;
  position: relative;
}
.nav-slide {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  border-radius: 30px 0 0 30px;
  min-width: 120px;
  position: absolute;
  top: 50%;
  z-index: 100;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &.prev {
    //border-right: none;
    min-width: 60px;
    border-radius: 0 30px 30px 0;
    left: -2px;
    right: auto;
  }
  &.next {
    //border-left: none;
    min-width: 60px;
    right: -2px;
    left: auto;
  }
}

.image-slider .slides li {
  overflow: hidden;
}
.hero-slider .slides li {
  height: 650px;
  overflow: hidden;
  position: relative;
  h1 {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }
  p {
    color: #fff;
    text-align: center;
     margin-bottom: 24px;
  }
  .btn {
    margin-right: 16px;
  }
}

.hero-slider .flex-direction-nav a {
  color: rgba(0, 0, 0, 0);
}
.flex-direction-nav a:before {
  top: 17px;
  font-size: 36px;
  left: 10px;
}
.flex-direction-nav a.flex-next:before {
  left: -10px;
}
@media all and (max-width: 1350px) {
  .flex-direction-nav {
    display: none !important;
  }
}
.hero-slider .slides li.overlay:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #222222;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-slider .slides li h1 {
    font-size: 32px;
    line-height: 40px;
  }
}