$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
/* custom variables >>> */ 
$lightColor: #F7F6F2;
$mediumColor: #686868;
$darkColor: #262626;
/* <<< custom variables */
$textColor: #7B7A78;
$baseFontSize: 12px;
$linkColor: $textColor;
$navbarBackgroundHighlight: #E0DFDB;
$navbarBackground: #E0DFDB;  
$bodyBackground: #EBEAE6;
$navbarButtonBackgroundHighlight: $darkColor; 
$navbarButtonBackground: $darkColor; 
$navbarButtonIconBarColor: $lightColor; 
$headingsFontFamily: Georgia,'Times New Roman', Times, serif;
$headingsColor: $darkColor;
$inputBackgroundColor: $lightColor;
$inputBorderColor: $bodyBackground;
$inputBorderRadius: 0;
$inputFocusBorderColor: rgba(224, 224, 219, 0.8); //$bodyBackgroundColor
$navbarCollapseWidth: 767px;
@import "twitter.bootstrap.2.3.1/bootstrap-awesome";
@import "gko/public/base";
@import "galleria";
/*-----------------------------------------
   SHARED STYLES 
   ----------------------------------------- */

   .center {
   	text-align: center;
   }
   .next-previous {
   	display:none;
   }
   .uppercase_font_style {
   	letter-spacing: 1px; 
   	text-transform: uppercase; 
   }
/*-----------------------------------------
 TYPOGRAPHY 
 ----------------------------------------- */
 h1,h2,h3,h4,h5,h6 {
 	font-style: italic;
 }
 h1,h2,h3 {
 	font-weight: normal;
 }
 h1.page-title {
 	font-size: 36px;
 }
 h2 {
 	font-size: 28px;
 }
 h3 {
 	font-size: 22px;
 }
 h4 {
 	line-height: $baseLineHeight * 1.5;
 	font-size: 18px;
 	font-weight: normal;
 }
 button, input[type="button"], input[type="reset"], input[type="submit"] {
 	color: $lightColor;
 	font-style: italic;
 	font-family: $headingsFontFamily;
 	font-size: $baseFontSize - 2px;
 	text-shadow: 0 1px 1px rgba(0,0,0, 1);
 	border: 1px solid black;
 	@include border-radius(8px);
 	background-image: none;
 	background-color: $darkColor;
 }
// Hover state
.btn:hover {
	color: white;
	@include buttonBackground($darkColor, $darkColor);	
}
/*-----------------------------------------
 STRUCTURAL LAYOUT 
 ----------------------------------------- */
 .row-fluid {
 	max-width: 980px;
 	@include center-block;
 }
 #content {
 	background-color: $lightColor;
 }
 #copyright-container,
 #footer-container {
 	background-color: $darkColor;
 	.row-fluid {
 		background-color: #111111;
 		color: $lightColor;
 	}
 	a {
 		color: $mediumColor;
 		&:hover {
 			color: $lightColor;
 		}
 	}
 	.nav > li {
 		float: none;
 	}
 	.nav > li > a {
 		color: $mediumColor;
 		&:hover {
 			color: $lightColor;
 		}
 	}
 }

 #main  {
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-top: 60px; 
 	background-color: #FFFFFF;
 	position:relative;
 	h3.realty-partial {
 		border-bottom: 6px solid $lightColor;
 		margin-top: $baseLineHeight;
 		margin-bottom: $baseLineHeight * .5;
 	}
 	div.realty-promo {
 		background: transparent asset-url("promo_en.png", image) no-repeat scroll right top;
 		position:absolute;
 		top:0;
 		right:0;
 		width: 146px;
 		height: 102px;
 	} 	
 }
 #sidebar {
 	padding-top: 40px; 
 	h4 {
 		border-bottom: 6px solid $white;
 		margin-bottom: $baseLineHeight * .5;
 	}
 }
 .well.realty-promo-text {
 	background-color:#BA4F45;
 	color: $lightColor;
 }
 p small {
 	font-size: 11px;
 	line-height: 14px;	
 }
 .html-text {
 	h3 {
 		font-size: 18px;
 	}
 }
 button, input[type="button"], input[type="reset"], input[type="submit"] {
 	font-size: 12px;
 }
/*-----------------------------------------
 GRID
 ----------------------------------------- */
 .grid > li { 
 	margin-bottom: $baseLineHeight * .5;
 	overflow:hidden;
 	.thumbnail {
 		border: none;
 		@include border-radius(0);
 		@include box-shadow(none);
 		.image {
 			background-color: black;
 			img {
 				border-top: 6px solid black; 
 			}

 			img:hover {
 				opacity: .7;
 			};
 		}
 		.caption { 
 			margin-top: $baseLineHeight * .25;
 			.title {
 				text-transform: uppercase;
 				font-family: $baseFontFamily;
 				font-size: $baseFontSize; 
 				font-style: normal;
 				font-weight: bold;
 				line-height: $baseLineHeight;
 			} 
 			padding: 8px 12px;
 			text-align: right;
 			background-color: $lightColor; 
 			.links {
 				display: none;
 			}
 			span { 
 				font-size:12px;
 				&.tag {
 					color: $mediumColor;
 					display: block;
 					clear:both;
 					margin-top: 4px;
 					strong {
 						color: $darkColor;
 					}
 				}
 			} 
 		}
 	}

 	.thumbnail-badge {
 		background: #bd3d3d;
 		position:absolute;
 		color:white;
 		text-align: center;
 		line-height: 24px;
 		padding: 8px;
 		right: -65px;
 		top: 40px;
 		width: 250px;
 		@include rotate(45deg);
 		@include box-shadow(rgba(black, 0.2) 1px 1px 10px);
 	} 
 }
/*-----------------------------------------
 SLIDESHOW
 ----------------------------------------- */
 .galleria {
 	margin-bottom: $baseLineHeight;
 }
/*-----------------------------------------
 HEADER
 ----------------------------------------- */ 
 .navbar {
 	.brand {
 		padding: 0;
 		a {
 			padding: 0;
 			margin: 0 auto;
 			background: transparent image-url("logo.png") center center no-repeat;
 			background-size: contain;
 			cursor: pointer;
 			text-decoration: none;
 			display: block;
 			width: 103px;
 			height: 140px;
 			@include hide-text;
 		}
 	}
 	.header-top .nav {
 		background-color: $darkColor;
 		font-size: 10px; 
 		a {
 			color: $lightColor;
 			text-transform: uppercase;
 			letter-spacing: 1px;
 		} 
 	}
 }
 .navbar-inner {
 	padding-left: 0;
 	padding-right: 0;
 	@include box-shadow(none);
 	@include border-radius(0);
 	border: none;
 }
 .nav-collapse {

 	.nav > li > a {
 		font-size: 11px; 
 		text-transform: uppercase;  
 		text-shadow: none;
 	}
 }
 .navbar .btn-navbar {
 	margin-top: 12px;
 	margin-bottom: 12px;

 }

/*-----------------------------------------
 HOME
 ----------------------------------------- */
 #home {
 	#main h4 {
 		border-bottom: 6px solid $lightColor;
 		margin-top: $baseLineHeight;
 		margin-bottom: $baseLineHeight * .5;
 	}
 	.grid > li {
 		float: none;
 	}
 }
 #home-orbit {
 	.carousel {
 		border: 6px solid $lightColor;
 	}
 }
 #orbit {
 	h3 {
 		border: none;
 	} 
 	.infos {
 		position:absolute;
 		bottom: 0;
 		left:0;
 		right:0;
 		padding: 12px;
 		background: rgba(255,255,255,.7);
 	}
 }
/*-----------------------------------------
 SIDEBAR
 ----------------------------------------- */
 .realty-promotion {
 	.grid > li .thumbnail .caption {
 		margin-top: 5px;
 		padding: 0;
 		text-align: right;
 		background-color: transparent;
 	}
 	.grid > li .thumbnail .caption .title {
 		font-size: 11px;
 		line-height: 15px;
 	}

 }
/*-----------------------------------------
 CONTENT
 ----------------------------------------- */
 ul.realty-seasons {
 	li {
 		h4 {
 			border-bottom: 2px solid $bodyBackground;
 			span {
 				font-size: $baseFontSize;
 			}
 		}
 	}
 }
 ul.realty-rates {
 	li span.realty-rates-price {
 		margin-left: 20px;
 	}
 }
 .realty-agent a {
 	font-style: italic;
 	text-decoration: underline;
 }
/*-----------------------------------------
 FOOTER
 ----------------------------------------- */
 #footer, #copyright {
 	text-align: center;
 }
 #footer .nav > li > a {
 	padding:0;
 }
 a#site_by {
 	background-image: asset-url('gko/logo_gecko_white.png', image);
 }
 #copyright-container a.copyright-author {
 	float: none;
 	text-align: center;
 } 
 #footer .nav > li > a {

 	color: #686868;
 }
 #copyright-container .row-fluid, 
 #footer-container .row-fluid,
 #footer {

 	color: #686868;
 } 
 #footer .nav {
 	left: auto;
 	float: none;
 	margin: 0;
 }
@import "responsive";
