<%# cache([site, I18n.locale, 'footer']) do %>
<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-12">
        <p><%= "RE/MAX Island Properties - St Barths<br>55 Rue Samuel Fahlberg - Gustavia<br>97133 Saint Barthélemy French West Indies".html_safe %></p>
        <p><%= "Tel. Intl +590 590 29 78 20<br>Tel from US 011 +590 590 29 78 20<br>Fax +590 590 87 12 55<br>".html_safe %><%= mail_to(site.preferred_contact_email, site.preferred_contact_email, :encode => "javascript") unless site.preferred_contact_email.blank? %></p>
      </div>
    </div>
  </div> 
</footer>
<%# end %>
