<% if site.frontend_translated? %>
<% o = action_name == 'index' ? parent : resource %>
<nav id="locales-menu" class="locales-menu-container hidden-print">
  <ul id='locales' class="nav">
    <% site.available_locales.each do |language| %>
      <% unless current_locale?(language.code) %>
        <li>
          <% if o.presence %>
            <%= link_to(language.presentation, [request.protocol, request.host_with_port, o.public_url(language.code)].join, :class => [language.code.to_s, 'navbar-link']) %>
          <% else %>
            <%= link_to(language.presentation, root_url(:locale => language.code), :class => [language.code.to_s, 'navbar-link']) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
<% end %>
