<!-- Newsletter
  ================================================== -->
<section class="newsletter">
  <div class="container">
    <div class="row">
     <div class="col-sm-12">
        <h2>Newsletter</h2>
      </div>
    </div>
    <div class="row">
      <form class="form-newsletter" role="form">
        <div class="col-md-3">
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control">
              <option>English</option>
              <option>Français</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-inverse"><i class="fa fa-paper-plane"></i> send</button>
        </div>
      </form>
    </div><!--end of row-->
  </div><!--end of container-->
</section>