<!-- Team
  ================================================== -->
  <section class="team">
   <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2 text-center">
      <h2><%= t("realty.team_title") %></h2>
    </div>
  </div><!--end of row-->

  <div class="row content">
    <% site.realty_agents.each do |realty_agent| %>
      <div class="col-xs-6 col-md-3">
        <div class="team-member">
          <%= image_tag(realty_agent.thumbnail("80x100#").url) %>
          <h2><%= realty_agent.name %></h2>
          <h5><%= realty_agent.grade %></h5>
        </div><!--end of team member-->
      </div>
    <% end %>
  </div>
</div><!--end of row-->
</div><!--end of container-->
</section>
